.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.button {
  font: inherit;
  border: 1px solid #0d6efd;
  background: #0d6efd;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 10%;
}

.button:hover,
.button:active {
  background: #085ed7;
  border-color: #085ed7;
}

.button:focus {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: white;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.header h2 {
  margin: 0;
  color: black;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
